__pycache__/
/objects/
node_modules/
data/
reports/
/web/
web_app.tar

client/client_git/
client/*.sqlite
client/*.csv
client/*kks*
client/server.conf

vue/*.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
vue/.vscode
vue/.gitignore
vue/README.md
vue/.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.editorconfig
eslint.config.mjs
