beautifulsoup4==4.11.1
clickhouse_connect==0.5.18
Flask==2.2.5
Flask_Cors==4.0.1
Flask_SocketIO==5.3.6
gevent==22.10.2
Jinja2==3.1.2
jsonschema==4.23.0
loguru==0.5.3
matplotlib==3.5.2
numba==0.56.3
numpy==1.23.5
pandas==1.4.4
pdfkit==1.0.0
python_dateutil==2.8.2
traces==0.6.4
werkzeug==3.0.3
