<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Report</title>
<!-- Bootstrap CSS -->
<link href="https://10.23.23.31:8004/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<title>Template</title>
</head>
<body>
<script src="https://10.23.23.31:8004/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://10.23.23.31:8004/plotly.js-dist-min/plotly.min.js"></script>
</body></html>